---
---
{% comment %}Shorter variable names for readability{% endcomment %}
    {% assign info = site.data.info %}
    {% assign goals = site.data.goals %}

{% comment %}Count different goals{% endcomment %}
{% for goal in goals.unfinished %}
    {% if forloop.last == true %}
        {% assign num_unfinished = forloop.length %}
    {% endif %}
{% endfor %}
{% for goal in goals.wip %}
    {% if forloop.last == true %}
        {% assign num_wip = forloop.length %}
    {% endif %}
{% endfor %}
{% for goal in goals.achieved %}
    {% if forloop.last == true %}
        {% assign num_achieved = forloop.length %}
    {% endif %}
{% endfor %}
{% for goal in goals.failed %}
    {% if forloop.last == true %}
        {% assign num_failed = forloop.length %}
    {% endif %}
{% endfor %}
{% capture num_total %}{{ num_unfinished | plus:num_wip | plus:num_achieved | plus:num_failed }}{% endcapture %}

{% capture ratio_unfinished %}{{ num_unfinished | times:100.0 | divided_by:num_total | round }}{% endcapture %}
{% capture ratio_wip %}{{ num_wip | times:100.0 | divided_by:num_total | round }}{% endcapture %}
{% capture ratio_achieved %}{{ num_achieved | times:100.0 | divided_by:num_total | round }}{% endcapture %}
{% capture ratio_failed %}{{ num_failed | times:100.0 | divided_by:num_total | round }}{% endcapture %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{{ site.description }}" />
    <meta name="og:description" content="{{ site.description }}" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />

<!--
    <link rel="shortcut icon" href="{{ site.baseurl }}favicon.ico" />
-->
    <link rel="canonical" href="{{ page.url }}" />

{% if site.minify == true %}
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}static/css/normalize+skeleton.min.css" media="all" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}static/css/style.css" media="all" />
{% else %}
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}static/css/normalize.css" media="all" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}static/css/skeleton.css" media="all" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}static/css/style.css" media="all" />
{% endif %}
<!--
    <link rel="stylesheet" href="{{ site.baseurl }}static/css/custom.css" />
-->
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}static/typefaces/css/fonts.css" media="deferred" onload="if(media!='all')media='all'" />
    <noscript><link rel="stylesheet" type="text/css" href="{{ site.baseurl }}static/typefaces/css/fonts.css" media="all" /></noscript>

    <!--[if lt IE 9]>
        <script type="text/javascript" src="{{ site.baseurl }}static/js/html5shiv.min.js?v=3.7.3-pre"></script>
        <script type="text/javascript" src="{{ site.baseurl }}static/js/html5shiv-printshiv.min.js?v=3.7.3-pre"></script>
    <![endif]-->
</head>
<body>
    <main class="container" role="main">
        <header role="banner">
            <h1>{{ site.title }}</h1>
        </header>

        <div class="row">
            <section class="six columns" role="region">
                <ul id="goal-overview" class="u-max-full-width">
                    <!-- Liquid template doesn't have a `timesince` filter -->
                    <li class="tenure"><a><em>Since {{ info.tenure.start | date: "%B %-d, %Y" }}</em> In office</a></li>
                    <li class="unfinished"><a title="Unfinished goals make up {{ ratio_unfinished }}%"><em>{{ num_unfinished }} of {{ num_total }}</em> Unfinished</a><span style="width:{{ ratio_unfinished }}%">{{ ratio_unfinished }}%</span></li>
                    <li class="wip"><a title="Goals in progress make up {{ ratio_wip }}%"><em>{{ num_wip }} of {{ num_total }}</em> In progress</a><span style="width:{{ ratio_wip }}%">{{ ratio_wip }}</span></li>
                    <li class="achieved"><a title="Achieved goals make up {{ ratio_achieved }}%"><em>{{ num_achieved }} of {{ num_total }}</em> Achieved</a><span style="width:{{ ratio_achieved }}%">{{ ratio_achieved }}</span></li>
                    <li class="failed"><a title="Failed goals make up {{ ratio_failed }}%"><em>{{ num_failed }} of {{ num_total }}</em> Failed</a><span style="width:{{ ratio_failed }}%">{{ ratio_failed }}</span></li>
                </ul>
            </section>
        </div>

        <section role="region">
        {% for topic in site.topics %}
            <h2>{{ topic }}</h2>

            <table id="goal-table" class="u-full-width">
                <thead>
                    <tr>
                        <th>Goal</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
            {% for type in site.goal_types %}
                {% for goal in goals[type] %}{% if goal.topic == topic %}
                    <tr class="{{ type }}">
                        <td>{{ goal.short }}</td>
                        <td>{{ type }}</td>
                    </tr>
                {% endif %}{% endfor %}
            {% endfor %}
                </tbody>
            </table>
        {% endfor %}
        </section>
    </main>

    <script type="text/javascript" src="{{ site.baseurl }}static/js/fontfaceobserver.js"></script>
    <script type="text/javascript">
        var raleway300 = new FontFaceObserver("Raleway", {"weight": 300}),
            raleway400 = new FontFaceObserver("Raleway", {"weight": 400}),
            raleway600 = new FontFaceObserver("Raleway", {"weight": 600});

        Promise.all([
            raleway300.check(),
            raleway400.check(),
            raleway600.check()
        ]).then(function() {
                document.documentElement.className += "fonts-loaded";
            });
    </script>
</body>
</html>
