/**
  * Goal Overview CSS
  * Based on the work by Dan Cederholm in his book Handcrafted CSS
 **/

ul#goal-overview li           { list-style: none; }
ul#goal-overview li a         { color: #000; }
ul#goal-overview li a:visited { color: #000; }

/***/

ul#goal-overview li a { height: 1%; }

ul#goal-overview li {
    position: relative;
    margin: 0 0 2px 0;
}
    ul#goal-overview li:hover a {
        color: rgba(0, 0, 0, .5) !important;
    }

    ul#goal-overview li a {
        position: relative;
        display: block;
        padding: 7px;
        z-index: 2;
    }

        ul#goal-overview li a:link {
            font-weight: bold;
            text-decoration: none;
            color: #000;
        }

    ul#goal-overview li em {
        float: right;
        font-style: normal;
        font-weight: normal;
        color: #000;
    }

    ul#goal-overview li span {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        height: 100%;
        line-height: 2.55em;
        text-indent: -9999px;
    /** background: #F3F2E8; */
    }

/** Colours for Goal Overview and Goal Table */
#goal-table tr.unfinished td,
ul#goal-overview li.unfinished span {
    background-color: #F3F2E8;
    background-color: rgba(243, 242, 232, .75);
}

#goal-table tr.wip td,
ul#goal-overview li.wip span {
    background-color: #2B83BA;
    background-color: rgba(43, 131, 186, .75);
}

#goal-table tr.achieved td,
ul#goal-overview li.achieved span {
    background-color: #ABDDA4;
    background-color: rgba(171, 221, 164, .75);
}

#goal-table tr.failed td,
ul#goal-overview li.failed span {
    background-color: #D7191C;
    background-color: rgba(215, 25, 28, .75);
}
